.cert {
  &Title {
    margin-bottom: 30px;
  }
  &Slide {
    transition: opacity .2s linear;
    &:hover {
      opacity: .85;
    }
  }
  .navArrowW {
    display: flex;
    justify-content: center;
    column-gap: 9px;
    margin-top: 42px;
    @media(max-width: 991px){
      margin-top: 20px;
    }
  }
  &Slide {
    border: 1px solid #EFEFEF;
    padding: 28px 22px;
    @media(max-width: 991px){
      padding: 13px;
    }
    @media(max-width: 370px){
      padding: 8px;
    }
    img {
      width: 100%;
      height: 370px;
      object-fit: cover;
      @media(max-width: 1400px){
        height: 300px;
      }
      @media(max-width: 575px){
        height: 55vw;
      }
    }
  }
}