.exp {
  padding-top: 130px;
  @media(max-width: 1199px){
    padding-top: 0;
  }

  &W {
    display: flex;
    align-items: flex-end;
    column-gap: 100px;

    @media(max-width: 1400px) {
      column-gap: 40px;
    }
    @media(max-width: 1199px){
      align-items: flex-start;
    }
    @media(max-width: 991px){
      flex-direction: column-reverse;
      row-gap: 40px;
    }
  }

  &L {
    width: 640px;
    flex-shrink: 0;
    height: 480px;
    position: relative;

    @media(max-width: 1400px) {
      width: 500px;
      height: 379px;
    }
    @media(max-width: 575px){
      height: 245px;
      width: 100%;
    }
  }

  &Image {
    position: absolute;
    object-fit: cover;

    &--out {
      left: 0;
      top: 0;
      width: 550px;
      height: 412px;

      @media(max-width: 1400px) {
        width: 450px;
        height: 338px;
      }
      @media(max-width: 575px){
        width: calc(100% + 30px);
        min-width: calc(100% + 30px);
        height: 163px;
        left: -15px;
      }
    }

    &--in {
      bottom: 0;
      right: 0;
      width: 560px;
      height: 380px;

      @media(max-width: 1400px) {
        width: 457px;
        height: 320px;
      }
      @media(max-width: 575px){
        width: 100%;
        height: 224px;
      }
    }
  }

  &Title {
    .title-line {
      position: relative;
      padding-bottom: 38px;
      @media(max-width: 1199px){
        padding-bottom: 20px;
      }
      @media(max-width: 340px){
        font-size: 35px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 148px;
        height: 1px;
        background: rgba(255, 255, 255, 0.14);
        bottom: 0;
        left: -18px;
        @media(max-width: 1199px){
          left: 0;
        }
      }
    }
  }

  .content {
    margin-top: 44px;
    @media(max-width: 1199px){
      margin-top: 20px;
      font-weight: 400;
    }

    p {
      font-size: 20px;
      line-height: 133.147%;
      @media(max-width: 1199px){
        font-size: 16px;
      }
      @media(max-width: 991px){
        font-size: 14px;
      }

      /* 26.629px */
      &:last-child {
        margin-bottom: 0;
      }

      strong {
        color: #E7BB9C;
        font-weight: 700;
      }
    }
  }
}